@font-face {
    font-family: firaMono;
    src: url(FiraMono-Regular.ttf);
}

body {
    margin: 30px;
    text-align: center;
    font-family: firaMono;
    color: #7067cf;
}

#instructions {
    margin: 50px;
}

#question {
    margin: 20px;
    width: 300px;
    border: 2px solid #9CE8AA;
    padding: 5px;
    color: #330c2f;
    font-family: firaMono;
}

#shake {
    font-family: firaMono;
    color: #7067cf;
    background-color: #cbf3d2;
    border: none;
    padding: 5px 24px;;
}

