@font-face {
    font-family: firaMono;
    src: url(FiraMono-Regular.ttf);
}

body {
    margin: 30px;
    text-align: center;
    font-family: firaMono;
}

#instructions {
    margin: 50px;
}

#question {
    margin: 20px;
    width: 300px;
    background-color: white; 
}

#shake {
    font-family: firaMono;
}

